/* set up universals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
    /* Set up main body */
    body {
    background: rgba(186 226 179);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    /* set up container sizing and format */
    .container {
        position: relative;
        max-width: 90;
        width: 70%;
        border-radius: 6px;
        padding: 30px;
        margin: 0 15px;
        background-color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    /* set up header sizing and color */
    .container header {
        position: relative;
        font-size: 20px;
        font-weight: 600;
        color: #333;
    }

    /* set up graphic line below header */
    .container header::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 3px;
        width: 27px;
        border-radius: 8px;
        background-color: #4070f4;
    }

    /* lower the subheading from top down */
    .container form .details {
        margin-top: 30px;
    }

    .container form .details.ID {
        margin-top: 30px;
    }
    
    /* Start of form set-up */
    .container form {
        position: relative;
        margin-top: 16px;
        min-height: 490px;
        background-color: #fff;
        overflow: hidden;
    }

    /* Set up and customize both Buttons */
    .container form button, .backBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        max-width: 200px;
        width: 100%;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 5px;
        margin: 25px 0;
        background-color: #4070f4;
        transition: all 0.3 linear;
        cursor: pointer;
        }

        /* adjust button texts sizing and weight */
        .container form .btnText{
            font-size: 14px;
            font-weight: 400;
        }

        /* Make a hover effect */
        form button:hover{
            background-color: #265df2;
        }

        /* set up margins for both buttons graphics */
        form button i,
        form .backBtn i{
            margin: 0 6px;
        }

        /* rotate the back buttons graphic so its facing backwards */
        form .backBtn i{
            transform: rotate(180deg);
        }

        /* align buttons */
        form .buttons{
            display: flex;
            align-items: center;
        }
        /* adjust right margin for both buttons */
        form .buttons button , .backBtn{
            margin-right: 14px;
        }

        /* set up the form title customization */
        .container form .title {
            margin-right: 100px;
            margin-top: 60px;
            margin-bottom: -50px;
            align-items: center;
            justify-content: center;
            display: flex;
            font-weight: bold;
            font-size: 20px;
        }

        /* set up the subheading for the Environmental Section(SE) */
        .container form .ESID {
            margin-right: 100px;
            margin-top: 60px;
            margin-bottom: -50px;
            align-items: center;
            justify-content: center;
            display: flex;
            font-weight: bold;
            font-size: 20px;
        }

        /* Position sliders in middle of screen and allow for easy viewing */
        .slider {
            margin: 100px;
            height: 90px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 10px;
            padding-left: 40px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0, 3px, 6px, rgba(0, 0, 0, 0.13);
        }

            /* customize the label or counter for the slider on the right */
        .slider label {
            font-size: 16px;
            font-weight: 500;
            font-family: 'Times New Roman', Times, serif;
            padding-left: 5px;
            color: black;
            flex-direction: column;
        }

            /* Make the slider itself look nice by adjusting its width and height to match input range */
        .slider input[type="range"] {
            width: 420px;
            height: 2px;
            background: black;
            border: none;
            outline: none;
        }