/* set up universals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
    /* Set up main body */
    body {
        /* background: rgba(186 226 179); */
        background: #82bed8;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* set up container sizing and format */
    .container {
        position: relative;
        max-width: 90;
        width: 80%;
        border-radius: 6px;
        padding: 30px;
        margin: 0 15px;
        background-color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    
    /* set up header sizing and color */
    .container header {
        position: relative;
        font-size: 20px;
        font-weight: 600;
        color: #333;
    }

    /* make logo center on page */
    .container .logoImage {
        display: block;
        margin-left: 38%;
        /* margin-right: 50%; */
        width: 25%;
    }

    /* set up graphic line below header */
    .container header::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            height: 3px;
            width: 27px;
            border-radius: 8px;
            background-color: #4070f4;
    }

    /* Customize the form */
    .container {
        position: relative;
        margin-top: 16px;
        min-height: 490px;
        background-color: #fff;
        overflow: hidden;
    }

    /* lower the form internals from top down */
    .container .details {
        margin-top: 30px;
    }

    /* Customise the container title */
    .container .title {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 500;
        margin: 6px 0;
        color: #333;
    }

    /* customize the input fields within the form */
    .container .fields {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /* most impressive thing here is the width calculation to put the input fields into 3 wide grids */
     .fields .input-fields   {
        display: flex;
        width: calc(100% / 3 - 15px);
        flex-direction: column;
        margin: 20px 0;
    }

    /* set up the input field labels */
    .input-fields label {
        font-size: 15px;
        font-weight: 500;
        color: #2e2e2e;
    }

    /* adjust input fields */
    .input-fields input {
        outline: none;
        font-size: 14px;
        font-weight: 400;
        color: #333;
        border-radius: 5px;
        border: 1px solid #aaa;
        padding: 0 15px;
        height: 42px;
        margin: 8px, 0;
    }

    /* add shadow effect is box is being edited */
    .input-fields input:is(:focus, :valid) {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
    }        

    /* Customize the color of the date before valid format*/
    .input-fields input[type="date"] {
        color: #707070;
    }

    /* Customize the color of the date after confirmed valid */
    .input-fields input[type="date"]:valid {
        color: #333;
    }

    /* Customize the next button */
    .container button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        max-width: 200px;
        width: 100%;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 5px;
        margin: 25px 0;
        background-color: #4070f4;
        transition: all 0.3 linear;
        cursor: pointer;
    }

    /* set up size and weight for the next button */
    .container button{
        font-size: 14px;
        font-weight: 400;
    }

    /* set up the next button hover effect */
    form button:hover {
        background-color: #265df2;
    }

    /* set up the next arrow graphic*/
    form button i{
        margin-left: 0 6px;
    }
    
    /* align buttons to center */
    form .buttons {
        display: flex;
        align-items: center;
    }

    /* set up the next button margin */
    form .buttons button , .nextBtn {
        margin-right: 14px;
    }

     /* set up the form title customization */
     .container .title {
        margin-right: 100px;
        margin-top: 60px;
        /* margin-bottom: -50px; */
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 20px;
    }


    /* set up the subheading for the Environmental Section(SE) */
    .container .ESID {
        margin-right: 100px;
        margin-top: 70px;
        margin-bottom: -30px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 20px;
    }

    .container .WID {
        margin-right: 100px;
        margin-top: 70px;
        margin-bottom: -50px;
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: bold;
        font-size: 20px;
    }

        /* Position sliders in middle of screen and allow for easy viewing */
    .slider {
        top: 50%;
        left: 50%;
        margin-left: 40%;
        margin-right: auto;
        margin-bottom: -40px;
        transform: translate(40%, 50%);
        margin: 50px;
        height: 90px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
        padding-left: 40px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0, 3px, 6px, rgba(0, 0, 0, 0.13);
    }

        /* customize the label or counter for the slider on the right */
     .slider label {
        font-size: 16px;
        font-weight: 500;
        font-family: 'Times New Roman', Times, serif;
        padding-left: 5px;
        color: black;
        flex-direction: column;
    }

        /* Make the slider itself look nice by adjusting its width and height to match input range */
    .slider input[type="range"] {
        width: 420px;
        height: 2px;
        background: black;
        border: none;
        outline: none;
    }

    .container .energy {
        display: block;
        margin-left: 25%;
        /* margin-right: 50%; */
        width: 35%;
        height: auto;
    }
    .container .land {
        display: block;
        margin-left: 25%;
        /* margin-right: 50%; */
        width: 35%;
        height: auto;
    }
    .container .wasteLo {
        display: block;
        margin-left: 35%;
        /* margin-right: 50%; */
        width: 35%;
        height: auto;
    }
    .container .overall {
        display: block;
        margin-left: 40%;
        /* margin-right: 50%; */
        width: 15%;
        height: auto;
    }

    .container .ovEner {
        margin-top: 40px;
        margin-bottom: 5px;
        padding-top: 15px;
        padding-bottom: 5px;
        align-items: inherit; 
        margin-left: 15%;
        margin-right: auto;
    }
    .container .ovLand {
        margin-top: 40px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        padding-top: 15px;
        align-items: inherit; 
        margin-left: 15%;
        margin-right: auto;
    }
    .container .ovWaste {
        margin-top: 40px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        padding-top: 15px;
        align-items: inherit; 
        margin-left: 20%;
        margin-right: auto;
    }
    .container .ovOv {
        margin-top: 40px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        padding-top: 15px;
        align-items: inherit; 
        margin-left: 40%;
        margin-right: auto;
    }

/* Three image containers (use 25% for four, and 50% for two, etc) */
    .column {
        float: left;
        width: 33%;
        padding: 5px;
    }
  
  /* Clear floats after image containers */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    

    